## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# @title Default title text
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN"])
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at NAME value counts for binning
count = application_df['NAME'].value_counts()
count

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [5]:
# @title Default title text
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
names_to_replace = list(count[count<10].index)
names_to_replace

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# @title Default title text
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<500].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
count_binning = application_df['CLASSIFICATION'].value_counts()
count_binning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
count_classification = count_binning[count_binning>5]
count_classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(count_binning[count_binning<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_scaled[0])
hidden_layer_1 = 21
hidden_layer_2 = 21
hidden_layer_3 = 21

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_1, input_dim=input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_2, activation='relu'))

nn.add(tf.keras.layers.Dense(units=hidden_layer_3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 21)                5733

 dense_1 (Dense)             (None, 21)                462

 dense_2 (Dense)             (None, 21)                462

 dense_3 (Dense)             (None, 1)                 22

=================================================================
Total params: 6,679
Trainable params: 6,679
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 0.4969 - accuracy: 0.7614
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4431 - accuracy: 0.7865
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4390 - accuracy: 0.7877
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4370 - accuracy: 0.7882
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4353 - accuracy: 0.7898
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4340 - accuracy: 0.7915
Epoch 7/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4336 - accuracy: 0.7907
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4323 - accuracy: 0.7913
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4314 - accuracy: 0.7921
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4310 - accuracy: 0.7926
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4308 - accuracy: 0.7928
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4300 - accuracy: 0.7933
Epoch 13/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4298 - accuracy: 0.7933
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4289 - accuracy: 0.7939
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4287 - accuracy: 0.7951
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4284 - accuracy: 0.7949
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4277 - accuracy: 0.7947
Epoch 18/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4276 - accuracy: 0.7960
Epoch 19/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4277 - accuracy: 0.7954
Epoch 20/50
804/804 [==============================] - 4s 4ms/step - loss: 0.4267 - accuracy: 0.7959
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4262 - accuracy: 0.7954
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4269 - accuracy: 0.7953
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4258 - accuracy: 0.7958
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4260 - accuracy: 0.7961
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4254 - accuracy: 0.7966
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4249 - accuracy: 0.7958
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4249 - accuracy: 0.7970
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4246 - accuracy: 0.7959
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4242 - accuracy: 0.7967
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4239 - accuracy: 0.7977
Epoch 31/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4236 - accuracy: 0.7970
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4234 - accuracy: 0.7968
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4236 - accuracy: 0.7973
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4232 - accuracy: 0.7977
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4228 - accuracy: 0.7978
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4226 - accuracy: 0.7982
Epoch 37/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4224 - accuracy: 0.7980
Epoch 38/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4227 - accuracy: 0.7973
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4217 - accuracy: 0.7977
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4220 - accuracy: 0.7983
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4217 - accuracy: 0.7974
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4218 - accuracy: 0.7983
Epoch 43/50
804/804 [==============================] - 3s 4ms/step - loss: 0.4208 - accuracy: 0.7969
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4213 - accuracy: 0.7984
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4206 - accuracy: 0.7979
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4208 - accuracy: 0.7991
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4206 - accuracy: 0.7980
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4207 - accuracy: 0.7990
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4201 - accuracy: 0.7989
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4201 - accuracy: 0.7991

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4567 - accuracy: 0.7759 - 610ms/epoch - 2ms/step
Loss: 0.45665112137794495, Accuracy: 0.775860071182251

In [18]:
# Export our model to HDF5 file
from google.colab import files

nn.save('AlphabetSoupCharity_Optimization.h5')
files.download('AlphabetSoupCharity_Optimization.h5')